@font-face {
  font-family: 'Patrick Hand SC';
  src: url('/0nkwC9f7MfsBiWcLtY65AWDK873ljiK7BwQrVw.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Global */
.big-title {
  text-align: center;
}

.bottom-quote {
  color: #ededed;
  font-size: 10px;
  transform: scale(0.5);
  margin: 0;
  position: relative;
  bottom: -1rem;
}

:root {
  --paper-bg-color: #f8f8fb;
  --paper-content-color: #41403e;
  --paper-border-color: #c1c0bd;
  --paper-shadow-color: rgba(0, 0, 0, 0.2);
  --html-bg-color: #f8f8fb;
}

.paper {
  width: 100%;
  max-width: 75vw;
  margin: 8vh auto;
  position: relative;
  background-color: var(--paper-bg-color) !important;
  color: var(--paper-content-color) !important;
  border: 1px solid var(--paper-border-color) !important;
  box-shadow: -1px 5px 35px -9px var(--paper-shadow-color) !important;
}

.element::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

* {
  transition-property: color, border, box-shadow, background-color;
  transition-timing-function: ease-out;
  transition-duration: 0.375s;
}

html {
  font-size: 18px;
  color: #41403e;
  font-family: Neucha, Patrick Hand SC, PingFang SC, Helvetica Neue, Helvetica,
    Hiragino Sans GB, Arial, sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 50px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 46px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  background: var(--html-bg-color);
}

a {
  color: #0071de !important;
}

a:visited {
  color: var(--paper-content-color) !important;
}

h3 {
  margin: 0;
}

ul li::before {
  content: '' !important;
}

hr::after {
  content: '' !important;
}

.padding-small {
  padding-left: 0;
}

.section::after {
  content: '' !important;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
  display: inline-block;
}

/* 主题切换按钮 */
.switch {
  position: absolute;
  display: inline-block;
  right: 3vw;
  top: 3vw;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ededed;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
